do_token     = "DIGITAL_OCEAN_TOKEN"
size         = "s-4vcpu-8gb"
cluster_name = "test-cluster"
k8s_version       = "1.30.5-do.5"
registry_username = "username"
registry_password = "YOUR_PASSWORD"
registry_email    = "EMAIL_ID"
git_username      = "username"
git_url           = "https://github.com/"
git_token         = "GITHUB_TOKEN"
#namespace         = "blu-staging"
environment = "production"
